<!DOCTYPE html>
<html>
  <head>
    <title>Cadastro de Atendimentos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<%- include('header.ejs'); %>

  	<div class="cadastroAtendimento">
  		
  		<form id="formCadastro" action="/cadastrar" method="post">
  			<h1>Cadastro de Atendimento</h1>
        <label for="id_origen">ID:</label>
        <input type="text" name="id_origen">
  			<label for="cliente">Cliente:</label>
  			<input type="text" name="cliente">
  			<label for="endereco">Endereço:</label>
  			<input type="text" name="endereco">
  			<label for="numero">Numero:</label>
  			<input type="text" name="numero">
  			<label for="bairro">Bairro:</label>
  			<input type="text" name="bairro">
  			<label for="cep">CEP:</label>
  			<input type="text" name="cep">
  			<label for="cidade">Cidade:</label>
  			<input type="text" name="cidade">
  			<label for="uf">UF</label>
  			<input type="text" name="uf">
        <label for="observacao">Observação</label>
        <input type="text" name="observacao">
  			<input type="submit" value="Cadastrar">
  		</form>
  	</div>
  </body>
</html>
