<header>
	<nav>
		<h1><a href="/">Software de Cadastro de Atendimentos</a></h1>
		<ul>
			<li><a href="/cadastro">Cadastrar Atendimento</a></li>
			<li><a href="/listar">Listar Cadastrados</a></li>
			<li><a href="/json">Gerar JSON</a></li>
		</ul>
	</nav>
</header>