<!DOCTYPE html>
<html>
  <head>
    <title>Software de Cadastro de Atendimentos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<%- include('header.ejs'); %>
  	<div id="wrapper"></div>
  </body>
</html>
